.signUp{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signUp button{
    background-color: #FF5A5F;
    width: 18%;
    padding: 15px;
    font-size:1em;
    margin: 15px 0;
}


.signUp input {
    font-size: 1em;
    padding: 15px;
    width: 40%;
    margin: 10px;
}

.signUp>div {
    width: 100%;
    display: flex;
    justify-content: center;
}