<div class="left-menu">
  <h2><i class="fa fa-circle-o-notch" aria-hidden="true"></i>Merkury</h2>
  <ul>
    <li>
      <i class="fa fa-home" aria-hidden="true"></i>
      Home</li>
    <li>
      <i class="fa fa-briefcase" aria-hidden="true"></i>
      Workflow</li>
    <li>
      <i class="fa fa-line-chart" aria-hidden="true"></i>
      Statistics</li>
    <li>
      <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
      Calender</li>
    <li>
      <i class="fa fa-user" aria-hidden="true"></i>
      Users</li>
    <li>
      <i class="fa fa-cog" aria-hidden="true"></i>
      Settings</li>
  </ul>
</div>
