<div class="left-menu">
  <h2>Merkury</h2>
  <ul>
    <li>
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      Home</li>
    <li>
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      Workflow</li>
    <li>
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      Statistics</li>
    <li>
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      Calender</li>
    <li>
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      Users</li>
    <li>
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      Settings</li>
  </ul>
</div>
