body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('https://www.research.bayer.com/img/kacheln-hp-shp/31/schlaganfall.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 1520px;
  height: 634px;
  background-attachment: fixed;
  background-position: center top;
  font-weight: bold;
}

h3,h5,h2{
  color:white;
  font-weight: bold;
}




.middleContainer {
  display: flex;
  justify-content: center;
}

.colContainer {
  display: flex;
  flex-direction: column;
  width: 70%;
}

/* /// */

.App {
  width: 100%;
  opacity: 1;
  /* text-align: center; */
}

@media only screen and (max-width: 768px) {
  body {
    background-attachment: fixed;

    background-repeat: repeat;
  }

  .app {
    width: 375px;
  }
  .colContainer {
    width: 375px;
  }
}



