<!-- index.html -->
<!DOCTYPE html>
<html>

<head>
    <title>fsd</title>

    <script src="https://code.angularjs.org/1.6.6/angular.js"></script>
    
    <script src="https://code.angularjs.org/1.6.6/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAglnzFHZqT89vG8DFUiLodvQ5PvUM7lOY&libraries=places"></script>


    <script src="../javascripts/router.js"></script>
    <script src="../javascripts/components/Main/main.js"></script>
    <script src="../javascripts/common/LoginService/loginService.js"></script>
    <script src="../javascripts/common/UserService/userService.js"></script>
    <script src="../javascripts/common/RegService/regService.js"></script>
    <script src="../javascripts/common/SkillsService/skillsService.js"></script>
    <script src="../javascripts/common/LocationService/locationService.js"></script>

    <script src="../javascripts/common/JobsService/JobsServices.js"></script>
    <script src="../javascripts/components/NavBar/navbar.js"></script>
    <script src="../javascripts/components/Jobs/jobs.js"></script>
    <script src="../javascripts/components/Job/job.js"></script>
    <script src="../javascripts/components/skills/skills.js"></script>
    <script src="../javascripts/components/Login/login.js"></script>
    <script src="../javascripts/components/Logout/logout.js"></script>
    <script src="../javascripts/components/MyProfile/myProfile.js"></script>
    <script src="../javascripts/components/MyJobs/myJobs.js"></script>
    <script src="../javascripts/components/PublishJob/publishJob.js"></script>
    <script src="../javascripts/components/Registration/registration.js"></script>
    <script src="../javascripts/components/User/user.js"></script>
    <script src="../javascripts/components/Agent/agent.js"></script>
    <script src="../javascripts/components/Map/map.js"></script>
    <script src="../javascripts/components/Location/location.js"></script>
    <script src="../javascripts/components/MyApplyJobs/myApplyJobs.js"></script>
    

   

    
    
<!--CSS-->
<link rel="stylesheet" href="../javascripts/components/NavBar/style.css">
<link rel="stylesheet" href="../javascripts/components/Jobs/style.css">
<link rel="stylesheet" href="../javascripts/components/Job/style.css">
<link rel="stylesheet" href="../javascripts/components/skills/style.css">
<link rel="stylesheet" href="../javascripts/components/Login/style.css">
<link rel="stylesheet" href="../javascripts/components/Logout/style.css">
<link rel="stylesheet" href="../javascripts/components/MyProfile/style.css">
<link rel="stylesheet" href="../javascripts/components/MyJobs/style.css">
<link rel="stylesheet" href="../javascripts/components/PublishJob/style.css">
<link rel="stylesheet" href="../javascripts/components/Registration/style.css">
<link rel="stylesheet" href="../javascripts/components/User/style.css">
<link rel="stylesheet" href="../javascripts/components/Agent/style.css">
<link rel="stylesheet" href="../javascripts/components/Map/style.css">
<link rel="stylesheet" href="../javascripts/components/Location/style.css">







    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>



</head>


<body ng-app="jobsModule">

    <main>  

    </main>

</body>

</html>