#navbar {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

#nav {
  background-color: black;
  position: fixed;
  width: 100%;
}

ul {
  height: 45px;
  font-size: 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

#headLine {
  padding-left: 20px;
  height: 100%;
}
#nav a:hover {
  color: plum;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.active {
  background-color: #4caf50;
}

#navbar > p {
  color: white;
}
