.header {
  width: 100%;
  background-color: black;
  height: 30px;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.header > div {
  display: flex;
  align-items: center;
  padding: 1em;
}

.headerList {
  list-style-type: none;
  padding: 0;
}

.headerList > li {
  display: inline;
  vertical-align: middle;
}
.header a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    height: 26px;
  }
  .header > div {
    display: flex;
    position:relative;
    top:  6px;
    justify-content:center;
    align-items:  center;
  }
}
