.filter{
    width: 100%;
    display: flex;
    /*align-items: center;*/
}

.filter>input{
    width: 99%;
    height: 3em;
    border-radius: 8px;
}   
.add1Link{
    width:100px;
    height: 100px;
    background-image: url('http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/simple-black-square-icons-alphanumeric/126295-simple-black-square-icon-alphanumeric-plus-sign.png');
    margin: 0;
    background-size: contain;
    position: relative;
    top: -19px;
}

