.carusel{
  display: grid;
  grid-template-areas: "main main main main main"
                        ". . . . ."
              "img1 img2 img3 img4 img5";
   grid-template-rows: 100% 10px 100%;
  /* grid-template-columns: 18% 18% 18% 18% 18%;  */
  grid-gap: 0.1%;
  
}
/* 1.489 */

.carusel>img:nth-child(1){
  grid-area: main;
  width:840px;
  height: 564px;
}
.carusel>img:nth-child(n+2){
  width:165px;
  height: 110px;
  }
    
.carusel>img:nth-child(n+2):hover{
  transition-duration: 5s;
  transform:rotateY(360deg);
}

.carusel>img:nth-child(2){
  grid-area: img1;
  
}
.carusel>img:nth-child(3){
  grid-area: img2;
}
.carusel>img:nth-child(4){
  grid-area: img3;
}
.carusel>img:nth-child(5){
  grid-area: img4;
}

.carusel>img:nth-child(6){
  grid-area: img5;
}

.caruselContainer>h2{
  padding:4em;
  text-align: center;
}



@media only screen and (max-width:376px){
  .carusel>img:nth-child(n+2){
    height: 70px;
  }

  .carusel>img:nth-child(1){
    grid-area: main;
    width:300px;
    height: 200px;
  }
  .carusel>img:nth-child(n+2){
    width:59px;
    height: 40px;
    }
      
}