.bookPreview{
    display: flex;
    border: 1px solid black;
    border-radius: 2px;
    justify-content: space-between;
    margin-bottom: 6px;
    background-color: white;
    width: 20em;
    box-shadow: 10px 10px 5px #888888;
}
.bookX{
    margin: 1em;
    text-align: center;
    width: 1em;
    height: 1em;
    font-size: 2em;
    background-color: #D0D0D0;
}

.Bookmark{
    width: 2em; 
    background-color: orange;
}
.bookTitlePreview{
    padding-left: 1em;
}