<style>
    body {
        background-image: url("http://www.careercast.com/sites/default/files/2017-03/2016-jobs-rated-headline.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center top;
    }

    button {
        background-color: #4caf50;
        border: none;
        color: white;
        height: 52px;
        font-size: 19px;
        border-radius: 10px;
    }

    #main {
        display: flex;
        flex-direction: column;

    }

    #routDiv {
        /*position: relative;*/
        /* padding-top:300px; */
    }
</style>

<div id="main">
    <nav-bar id="navbar" class="vani"></nav-bar>

    <!--<Jobs></Jobs>-->
    <div id="routDiv" ng-view></div>
</div>