

#jobs{
    grid-area:jobs;
}

#jobDetails{

    margin: 0 20px 0 20px;
    padding: 0 10px 0 10px;
    /*top right bottom left*/
    grid-area:jobDetails;
    font-size: 22px;
    /*position: fixed;    */
}

#jobsData{
        
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas: 
        "jobs jobDetails";

        /*align-items:start;*/
    }
#map1{
    width:400px;
    height: 400px
}






#jobDetailsContent{
    top:15vw;
  position: sticky;
}
