.app-container {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}
.app-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 28%;
  border: 1px solid black;
}
.head {
  display: flex;
  justify-content: space-between;
  padding: 3px;
  align-content: center;
}
.headCircles{
  display: flex;
}
.headCircles>div {
  flex:1;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin:3px;

}

.headCircles>div:nth-child(1) {
  background-color: rgb(26.2%, 46.1%, 97.6%);
}

.headCircles>div:nth-child(2) {
  background-color: red;
}
h1 {
  flex:1;
  /* text-align: center; */
}

span {
  font-size: 36px;
  vertical-align: middle;
  color: white;
  padding-top: 15px;
}
