body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background:url("imageedit_2_2134698737.png"); 
  /* background:url("david-marcu-5296.jpg");  */
  background-repeat: no-repeat;
  background-size: cover;
  width:1520px;
  height:634px; 
  background-attachment: fixed;
  background-position: center top;
   
}

h1{
  color: orange;
}
h2,h3{
  color: rgb(60.1%, 19.7%, 19.7%);
}
.app{
  width:100%;
  opacity: 1;

}

.middleContainer{
  display: flex;
  justify-content: center;
  
}

.colContainer{
  display: flex;
  flex-direction: column;
  width:60em;
  
}

@media only screen and (max-width:768px){
  body{
  background-attachment: fixed;
  
    background-repeat: repeat;
  }
  
  .app{
    width:375px;
  }
  .colContainer{
    width:375px;
  }
}