body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-image: url("https://images.unsplash.com/photo-1507398941214-572c25f4b1dc?auto=format&fit=crop&w=966&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D"); */
  background:url("imageedit_2_2134698737.png"); 
  background-repeat: no-repeat;
  background-size: cover;
}


.app{
  width:100%;
  opacity: 1;

}

.middleContainer{
  display: flex;
  justify-content: center;
  
}

.colContainer{
  display: flex;
  flex-direction: column;
  width:60%;
  
}
