.item {
  display: flex;
  border: 1px solid black;
  align-items: center;
  height: 60px;
}
.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
}
.image {
  border-radius: 50%;
  background-color: rgb(82%, 29.4%, 29.4%);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.pic {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.description {
  flex: 2;
}

.description > p:nth-child(1) {
  font-weight: bold;
  font-size: 10px;
}
span {
  font-size: 20px;
  vertical-align: middle;
  color: white;
  padding-top: 15px;
}

.item:hover {
  background-color: rgb(86.3%, 86.3%, 86.3%);
}
