.myProjects{
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 1.6%;
  width:100%;
  padding-top: 30px;
  
}


.myProjects>div>a>img{
  height: 200px;
  padding-top:5px;
  width:100%;
}



.myProjects>div>h2{
  color: orange;
  padding: 10px;
  margin: 0;  
}
.myProjects>div>p{
  padding:10px;
}



@media only screen and (max-width:768px){
  .myProjects{
    display: grid;
    grid-template-columns: 46% 46%;
    grid-gap: 8%;
    width:100%;
  }
  .myProjects img{
    width: 100%;
  }
}


@media only screen and (max-width:376px){
  .myProjects{
    display: flex;
    flex-direction: column;
    width:100%;
  }
}






