<!-- <app-lists-container></app-lists-container> -->
<div class="app">
  <app-left-menu class="left-menu"></app-left-menu>
  <div class="right-side">
    <app-header class="nav"></app-header>
    <div class="graphs">
      <div>Hello Johan</div>
      <div>
        <app-round-graph></app-round-graph>
        <app-flat-graph></app-flat-graph>
      </div>
    </div>
    <app-lists-container class="list-container"></app-lists-container>
    <!-- <div class="list-container"></div> -->
  </div>
</div>
