<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body{
            background-image: url("http://www.careercast.com/sites/default/files/2017-03/2016-jobs-rated-headline.jpg");
            background-repeat: no-repeat;
            background-size:cover;
        }
        #main {
            display: flex;
            flex-direction: column;

        }
        #main > div{
            /*flex-grow:2;*/
            flex-direction: column;
        }

    </style>
</head>

<body>
    <div id="main">
        <div>..ss...</div>
        <div>..dd..</div>
        <div>..gg..</div>

    </div>
</body>

</html>