.PracticeProgram{
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 2%;
  width:100%;
}


.PracticeProgram>div>a>img{
  width:100%;
  height: 200px;
}
/* .PracticeProgram>div>a>div{
  background-image: url("https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/312477_10151182168706364_695230681_n.jpg?oh=75406aae855cea63d53f2ed28b00fcae&oe=5A9509D1");
  background-repeat: no-repeat;
  background-size: cover;
  width:100%;
  height: 200px;
} */


.PracticeProgram>div>h2{
  color: orange;
  padding: 10px;
  margin: 0;  
}
.PracticeProgram>div>p{
  padding:10px;
}