.PracticeProgram{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  /* grid-template-rows: 300px 300px 300px; */
  /* grid-gap: 1%; */
  width:100%;
}
/* 
.PracticeProgram>div:nth-child(1)>div:nth-child(1){
  background-image: url("https://www.facebook.com/photo.php?fbid=10155129357529627&set=t.596251363&type=3&theater")
} */


.PracticeProgram>div>div{
  background-image: url("https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/312477_10151182168706364_695230681_n.jpg?oh=75406aae855cea63d53f2ed28b00fcae&oe=5A9509D1");
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
}


.PracticeProgram>div>h2{
  color: orange;
}