#registration {
  font-size: 16px;
  padding-left: 4%;
  position: relative;
  top: 5em
}

#registration input {
    border-radius: 10px;
    height: 2em;
  }
  #registration p {
    font-size: 28px;
    margin: 0;
    width:5em;
  }
  
  #registration>div {
    display: flex;
    justify-content: space-between;
    padding:9px;
    width:21em;
  }
  



#registerMsg {
  color: red;
}
