body{
  margin: 0;
  padding: 0;
  background-color: #D0D0D0;
}
.sortWithPreview{
  display: flex;
 flex-direction: column; 
}
.appSubContainer{
  display: flex;
  justify-content: space-between;
  padding: 8em;
  background-color: #D0D0D0;
  
}


.bookItem{
  background-color: white;
  flex: 2;
  
}
.previewItem{
  flex: 2;
  background-color: #D0D0D0;
}

.appContainer{
  display: flex;
  flex-direction: column;
}