.carusel{
  display: grid;
  grid-template-areas: "main main main main main"
              "img1 img2 img3 img4 img5";
  grid-template-rows: 300px 100px;
  grid-template-columns: 18% 18% 18% 18% 18%;
  grid-gap: 2.5%;
  
}

.carusel>img{
  width:100%;
}
.carusel>img:nth-child(1){
  grid-area: main;
  height: 280px;
}
.carusel>img:nth-child(n+2){
    height: 150px;
  }
    
.carusel>img:nth-child(n+2):hover{
  transition-duration: 5s;
  transform:rotateY(360deg);
}

.carusel>img:nth-child(2){
  grid-area: img1;
  
}
.carusel>img:nth-child(3){
  grid-area: img2;
}
.carusel>img:nth-child(4){
  grid-area: img3;
}
.carusel>img:nth-child(5){
  grid-area: img4;
}

.carusel>img:nth-child(6){
  grid-area: img5;
}

.caruselContainer>h2{
  padding:4em;
  text-align: center;
  font-weight:bold; 
}



@media only screen and (max-width:376px){
  .carusel>img:nth-child(n+2){
    height: 70px;
  }
}