.links{
  display: flex;
  justify-content: space-between;
  background-color:rgb(86.3%, 86.3%, 86.3%);
  font-family: 'Great Vibes', cursive;
  font-size: 24px;
  
}

.links>a{
  text-decoration:none;
  padding: 10px;
  font-weight: bold;
  color: rgb(42.4%, 45.6%, 42.4%);
}

.links>a:hover{
  color: black;
  padding-top: 6px;
}


@media only screen and (max-width:768px){
  .links{
    display: none;
  }
}