.login {
  padding-top: 4em;
  font-size: 2.1em;
  padding-left: 4%;
}

.login > div {
  display: flex;
  padding: 9px;
}

.login input {
  border-radius: 10px;
  height: 2em;
}
.login p {
  font-size: 28px;
  margin: 0;
  width: 5em;
}
