

.secondHeader{
  border:1px solid black;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:url("../App/imageedit_2_2134698737.png"); 
  
}
.secondHeader>div{
  margin:1em;
}
.secondHeader>div:nth-child(2){
  color:white;
  font-weight: bold;
}
.secondHeader>.redBox{
  background-color: rgb(85.5%, 8.3%, 24.9%);
  width:200px;
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lobster', cursive;
  
}

.secondHeader>.redBox >div>div:nth-child(1){
  font-size: 25px;
  text-align: center;
}

.secondHeader>div:nth-child(2)>div:nth-child(2){
  text-align: center;
}





@media only screen and (max-width:768px){


  .secondHeader{
    position: sticky;
    top: 0px;
    height: 80px; 
  
  }
.secondHeader>div:nth-child(2){
  display: none;
}
.secondHeader>.redBox{
  display: flex;
  justify-content: center;
  height: 40px;
  
}
.redBox>div{
  text-align: center;
  width:600px;
}

}
