<div class="left">
  <a (click)="openMenu()" id="menu">
    <i class="material-icons arrow">arrow_drop_up</i>
    <i class="material-icons">menu</i>
  </a>
  <a>
    <i class="material-icons">search</i>
  </a>
</div>

<div class="right">
  <a class="addProject">
    <i class="material-icons">add</i>
    <span>Add Project</span>
  </a>
  <a>
    <i class="material-icons">mail_outline</i>
  </a>
  <a>
    <i class="material-icons">add_alert</i>
    <p class="alertCounter">6</p>
    <i class="material-icons">&#xE000;</i>
  </a>
  <a id="imageContainer">
    <img id="image" src="https://i.pinimg.com/736x/d2/dc/85/d2dc853346161cb320f05b042390e6f2.jpg" alt="avatar">
    <i class="material-icons">arrow_drop_down</i>
  </a>
</div>
