.education {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.education > div {
  display: flex;
}

.education h3 {
}
.education > div:nth-child(1)>h3 {
  padding-right: 35px
}
.education > div:nth-child(2)>h3 {
  padding-right: 30px
}






@media only screen and (max-width: 768px) {
  .education > div:nth-child(1)>h3 {
    padding-right: 31px
  }


}
