<div id="job">
    <div id="jobData">
        <div id="jobTitle" ng-click="vm.sendData()">
            <h2>{{vm.job.jobName}}</h2>
            <div class="jobBut">
                <div>
                    <h4>{{vm.job['pub_date']}}</h4>
                    <p>{{vm.job.locationName}}</p>
                </div>
                <button ng-click="vm.applyJob()" ng-show="!appliedSuccess && vm.checkJobsScreen() && checkLogin()">apply job</button>
                <div id="applied" ng-show="appliedSuccess">applied</div>
            </div>


        </div>

    </div>


</div>