
    button {
        background-color: #4CAF50;
        /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 19px;
        border-radius: 10px;
    }

    button:hover {
        color: black
    }

#applied{
    color: yellow;
    background-color: gray;
    font-size: 133%;
    width: 16%;
    padding: 1%;
}

#jobTitle{
    border: 3px solid black;
    /*grid-area:jobTitle*/

}

#job:hover{
    background-color: gray;
}
