.container {
  width: 24vw;
  border: 1px solid #d2d9e3;
  background: white;
}

.header {
  height: 70px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #d2d9e3;
}

h5 {
  cursor: pointer;
  margin-right: 10px;
}

.activity {
  height: 90px;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
}

.material-icons {
  color: #7d92ad;
  font-size: 14px;
  margin-right: 5px;
}

.image {
  cursor: pointer;
  width: 50px;
  margin-right: 10px;
  height: auto;
  background: #2a89fe;
  border-radius: 50%;
}

.header .image {
  padding: 5px 10px;
}

.content {
  margin-bottom: 5px;
}

.message-icons {
  margin-top: 5px;
}

.activemessages {
  cursor: pointer;
  font-weight: bold;
  color: white;
  background: #2a89fe;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1350px) {
  .container {
    width: 50vw;
  }
}

.action {
  color: #7d92ad;
  margin-right: 5px;
}

.time {
  color: #7d92ad;
}
