.list {
  width: 17em;
  background-color: white;
}
.list > div {
  display: flex;
  justify-content: center;
}

.list > div:nth-child(1)>h4,div {
  padding:1px;
}


.list > div:nth-child(1) {
  justify-content: space-between;
  align-items: center;
}
.headCircles {
  display: flex;
  justify-content: space-between;
}

.headCircles > div {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin:3px;
}
.headCircles > div:nth-child(1) {
  background-color: rgb(82%, 29.4%, 29.4%);
}
.headCircles > div:nth-child(2) {
  background-color: blue;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

span {
  padding-top: 13px;
}
